.formulario{
    width: 100%;
    height: 40rem;
    background-color: #1D2D42;
    display: flex;
}

.contenedorInfoContacto{
    width: 50rem;
}

.subtituloInfo{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 10rem;
    font-size: 40px;
    color: white;
}

.textoInfo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30rem;
    text-align: center;
    margin-left: 10rem;
    margin-top: 3rem;
    font-size: 20px;
    color: white;
}

.contenedorFormulario{
    width: 90rem;
    display: flex;
}

label{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 20px;
}

.formularioContacto{
    width: 40rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.inputContacto{
    background-color: #eceaea;
    width: 25rem;
    padding: 6px;
    outline: 0;
    border: 0;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
}

.radioInput{
    margin-top: 40px;
}

.inputRadio{
    margin-left: 40px;
}

.textareaContacto{
    background-color: #eceaea;
    width: 30rem;
    border-radius: 10px;
}

@media (max-width: 768px){
    .formulario{
        width: 420px;
        height: 40rem;
        display: flex;
        flex-direction: column;
    }

    .subtituloInfo{ 
        margin-right: 20rem;
        margin-top: 1rem;
        font-size: 26px;
    }

    .textoInfo{
       display: none;
    }
    
    
    .contenedorFormulario{
        width: 30rem;
        display: flex;
    }
    
    label{
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .formularioContacto{
        width: 20rem;
        display: flex;
        flex-direction: column;
    }
    
    .inputContacto{
        background-color: #eceaea;
        width: 20rem;
        padding: 6px;
        outline: 0;
        border: 0;
        border-bottom: 3px solid white;
        background-color: transparent;
        color: white;
        font-size: 18px;
        margin-left: 10px;
    }
    
    .radioInput{
        margin-top: 40px;
    }
    
    .inputRadio{
        margin-left: 7px;
    }
    
    .textareaContacto{
        background-color: #eceaea;
        margin-left: 10px;
        width: 25rem;
        border-radius: 10px;
    }
}